<div class="jumbotron">
<h1>Welcome to DS's first app!</h1>
<p>Cool pages coming up</p>
<p> Sign up <a href="http://google.com">here</a></p>
<p> Contact me <%= link_to "here", "#", class: "btn btn-primary" %></p>
</div>
